<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project 2</title>
  {{!-- <link rel="stylesheet" href=" "> --}}
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="drink">🍹</span>
        <a href="/">Novel Sips: Find the perfect pairing for your current read!</a>
      </h1>
      <nav>
        <ul>
          {{home}}
        <!-- Conditionally render login or logout links -->
         {{#if logged_in}}
       
        <button><a href="/profile">My Book Shelf</a> </button> 

        <button class="no-button" id="logout">logout</button>
       
         <!-- logout link here -->
          {{else}}
       
          <button><a href="/login">Log In / Sign Up</a></button>
       
        {{/if}}

        

        
       
        </ul>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>
  
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/logout"></script>
  {{/if}}

</body>

</html>
