<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novel Sips</title>
  <link rel="stylesheet" href="/css/style.css">
  {{!-- google fonts stylesheet --}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing Script">
  {{!-- font awesome stylesheet --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {{!-- header --}}
  <header>
    <h1 class="headertitle">
      <a class="pgtitle" href="/">Novel Sips</a>
      <i class="fa fa-coffee" style="font-size:36px"></i>
    </h1>

    {{!-- nav bar --}}
    <nav>
      <ul>

        {{!-- nav bar links --}}
        <nav class="navbarlinks" align="right">
          
          <li><a href="/">Home</a></li>
          <li><a href="drinks">Drinks</a></li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
          <li><a href="/profile">My BookShelf</a></li>
          
        </nav>

        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
      
        <div class="logoutBtn"><button class= 'logout' id="logout">Logout</button></div>
        

        <!-- logout link here -->
        {{else}}

        {{/if}}

      </ul>
    

  </header>

  <main>
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>

  {{!-- back to top button --}}
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


  {{!-- footer --}}
  <footer>
    <p class="footerp">Created by the Four Loopin' Ladies ©</p>
  </footer>

  <script src="/js/logout.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/main.js"></script>
</body>


</html>

