<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<header>About Us</header>
<body>
    
    <main>

        <section class="aboutuscontainer">
            <h2 class="abouttitle">About Us</h2>
            <p class="aboutussection">
                We are the "<i>For Loopin' Ladies</i>"!<br>
                <br>
                We met while enrolled in the Full-Stack Web Development Coding
                Bootcamp at UCF and were tasked together to develop this website.
            </p>


        <h3 class="khristitle">Khris Soto</h3>
            <div class="pic"><img class="maggiepic" src="./assets/Untitled_design_2.png"></div>
            <p class="khrisabout">
                Khris S. has worked over 10 years in the service industry. Most recently she had the pleasure of 
                running a $10MiLL restaurant for the past 3 years and serve as an International Service Talent Staff that helps
                open new restaurant in other countries.<br>
                <br>
                Khris has allways had a passion for Computers and Technology which motivated her to persue a career change. She found the UCF Coding Bootcamp to be a good fit.
                She hopes to develop a simple but addicting video game app with her friends and aspires to be a Web
                Developer in the near future. <br>
                <br>

                <a class="mllinks" href="mailto:khris.soto@live.com">Email Me</a>
                &nbsp;&nbsp;
                <!-- <a class="mllinks" href="">LinkedIn</a>
                &nbsp;&nbsp; -->
                <a class="mllinks" href="https://github.com/ksoto18">GitHub</a>
            </p>




            <h3 class="maggietitle">Maggie Lively</h3>
            <div class="pic"><img class="maggiepic" src="./assets/Untitled_design_2.png"></div>
            <p class="maggieabout">
                Maggie Lively recently relocated to Orlando from the Washington D.C. area where
                she owned a yoga studio. Due to the Covid-19 Pandemic, she spent the last couple
                of years teaching online learning more about dynamic websites and interactive
                technology to reach students. Creating and editing videos for her website sparked
                an interest in web development.<br>
                <br>
                Maggie decided to enroll in the UCF Coding Bootcamp to pursue a career in front-end
                web development. She enjoys creating new websites and applications that are attractive
                and user-friendly. She looks forward to learning more about web-development throughout
                the course and beyond.<br>
                <br>

                <a class="mllinks" href="mailto: maggie.lively@gmail.com">Email Me</a>
                &nbsp;&nbsp;
                <!-- <a class="mllinks" href="">LinkedIn</a>
                &nbsp;&nbsp; -->
                <a class="mllinks" href="https://github.com/mmllively">GitHub</a>
            </p>

            <h3 class="karinatitle">Karina Drummond</h3>
            <div class="pic"><img class="karinapic" src="./assets/karinapic.jpg"></div>
            <p class="karinaabout">
                Karina is a stay-at-home mom to four children, and wife to an active-duty Sailor.
                She is a first-generation Dominican-American, born and raised in Miami. Before the Navy
                relocated her family to San Diego in 2018, She lived in Orlando for 12 years and completed
                her Bachelor of Science in Psychology in May of 2020, and her Master of Arts in Educational
                Leadership in August of 2022 at UCF. <br><br>
                She decided to enroll in the UCF Coding Bootcamp to fulfill the desire she has always had to
                learn how to develop websites and apps. As challenging as the program has been, she is thoroughly
                enjoying every moment of it, and looking forward to completing the program and beginning
                her career in web development!<br>
                <br>

                <a class="kdlinks" href="mailto: k.drummond528@gmail.com">Email Me</a>
                &nbsp;&nbsp;
                <a class="kdlinks" href="https://www.linkedin.com/in/karinadrummond/">LinkedIn</a>
                &nbsp;&nbsp;
                <a class="kdlinks" href="https://github.com/kdrummond528">GitHub</a>
            </p>

            <h3 class="iiatitle"><i>Iia Wolak</i></h3>
            <div class="pic"><img class="iiapic" src="./assets/Iia.png"></div>
            <p class="iiaabout">
                Iia Wolak also recently relocated to Orlando from Tallahassee, Florida.
                She received her Bachelor's Degree in Linguistics and Mandarin from the University
                of Florida. After college, Iia worked in a local coffee shop for three and a half years, creating
                latte art and smiles for a large customer base of Tallahassee locals.<br>
                <br>
                Iia decided to enroll in the UCF Coding bootcamp to change her career path and mix
                her love for languages with web development. Her dream is to create a language learning app!
                In her free time, Iia loves to read really long books, study Mandarin and Japanese, and
                visit local cafes and breweries.<br>
                <br>

                <a class="iwlinks" href="mailto: wolaki96@gmail.com">Email Me</a>
                &nbsp;&nbsp;
                <!-- <a class="iwlinks" href="">LinkedIn</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                <a class="iwlinks" href="https://github.com/wolaki96">GitHub</a>
            </p>

        </section>

        <!-- footer -->
        <footer></footer>

    </main>
</body>
</html>