<head>
    <title>Novel Sips | Contact Us</title>
</head>

<main>

    <body>
        <section class="contactuscontainer">
            {{!-- hero img --}}
            <img class="contactusheroimg"
                src="https://images.pexels.com/photos/7470111/pexels-photo-7470111.jpeg?cs=srgb&dl=pexels-beyza-7470111.jpg&fm=jpg&_gl=1*1e5268e*_ga*ODY5NDU4MDMxLjE2NjgzNjU0MTY.*_ga_8JE65Q40S6*MTY2ODM3MjE3Ny4yLjAuMTY2ODM3MjE3Ny4wLjAuMA..">


            {{!-- pg title --}}
            <h2 class="contactustitle">Contact Us</h2>

            <form align="center">

                {{!-- name label --}}
                <div class="contactform"><label class="nameinputtitle">Name:</label></div>
                {{!-- name input --}}
                <div class="contactform"><input class="form-input" placeholder="John Doe" type="text" />
                </div>

                {{!-- email label --}}
                <div class="contactform"><label for="email-signup" class="emailtitle">Email:</label></div>
                {{!-- email input --}}
                <div class="contactform"><input class="form-input" placeholder="johndoe@gmail.com" type="text"
                        id="email-signup" />
                </div>

                {{!-- phone label --}}
                <div class="contactform"><label class="phonetitle">Phone:</label></div>
                {{!-- phone input --}}
                <div class="contactform"><input class="form-input" placeholder="555-123-4567" />
                </div>

                {{!-- user input label --}}
                <div class="contactform"><label class="passwordtitle">Connect with us!</label></div>
                {{!-- user input --}}
                <div class="contactform"><input class="user-input" placeholder="Drop us a line..."
                        id="password-signup" />
                </div>

                {{!-- submit button --}}
                <div class="contactform">
                    <button class="submitbtn" type="submit">Submit</button>
                </div>

                {{!-- create a response to the submitted form --}}

            </form>
    </body>

</main>

</html>