<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks</title>
    {{!-- script for bootstrap for carousel of drink images --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    {{!-- drinks stylesheet to override bootstrap css --}}
    <link rel="stylesheet" href="./css/drinks.css">
</head>

<body>
    {{!-- pg title --}}
    <h2 class="drinkstitle">Our Drinks</h2>

    <section class="drinksearchcontainer" align="center">
        <div class="drinksearchinput" align="center">
            <h3 class="searchdrinktitle">Search for a drink:</h3>
            <div><input class="drinks-form-input" placeholder="Enter a drink name" /></div>
            <div class="form-group"><button class="submitbtn">Submit</button></div>
        </div>
    </section>

    <section class="drinkscontainer">

        {{!-- carousel for drink images --}}
        <div class="carouselcontainer" align="center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>

                </ol>
                {{!-- carousel item #1 --}}
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="drinkimg"
                            src="https://www.starbucksathome.com/ca/sites/default/files/styles/recipe_ingredient/public/2021-03/Honey%20and%20Lavender%20Latte_3.jpg?itok=i25Nav_5"
                            alt="Honey Lavender Latte">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="carouseldrinktitle">Honey Lavender Latte</h5>
                            <p><b>Recommended for your Arts read.</b></p>
                        </div>
                    </div>
                    {{!-- carousel item #2 --}}
                    <div class="carousel-item">
                        <img class="drinkimg"
                            src="https://images.pexels.com/photos/7809751/pexels-photo-7809751.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="Whiskey Sour">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="carouseldrinktitle">Whiskey Sour</h5>
                            <p><b>Recommended for your Arts read.</b></p>
                        </div>
                    </div>
                    {{!-- carousel item #3 --}}
                    <div class="carousel-item">
                        <img class="drinkimg"
                            src="https://images.pexels.com/photos/6234962/pexels-photo-6234962.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="Peppermint Mocha">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="carouseldrinktitle">Peppermint Mocha</h5>
                            <p><b>Recommended for your Fanatasy read.</b></p>
                        </div>
                    </div>
                    {{!-- carousel item #4 --}}
                    <div class="carousel-item">
                        <img class="drinkimg"
                            src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fassets.marthastewart.com%2Fstyles%2Fwmax-750%2Fd30%2Fold-fashioned-cocktail-6478464%2Fold-fashioned-cocktail-6478464_horiz.jpg%3Fitok%3D1mJcoguP"
                            alt="Old Fashioned">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="carouseldrinktitle">Old Fashioned</h5>
                            <p><b>Recommended for your History read.</b></p>
                        </div>
                    </div>
                    {{!-- carousel item #5 --}}
                    <div class="carousel-item">
                        <img class="drinkimg"
                            src="https://images.pexels.com/photos/1036444/pexels-photo-1036444.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="White Mocha">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="carouseldrinktitle">White Mocha</h5>
                            <p><b>Recommended with your Romance read.</b></p>
                        </div>
                    </div>
                    {{!-- carousel item #6 --}}
                    <div class="carousel-item">
                        <img class="drinkimg" src="https://mybartender.com/wp-content/uploads/2021/03/Dirty-Martini.jpg"
                            alt="Dirty Martini">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="carouseldrinktitle">Dirty Martini</h5>
                            <p><b>Recommended with your Mathematics read.</b></p>
                        </div>
                    </div>
                    {{!-- carousel item #7 --}}
                    <div class="carousel-item">
                        <img class="drinkimg"
                            src="https://images.pexels.com/photos/2109099/pexels-photo-2109099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="Lemonade">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="carouseldrinktitle">Lemonade</h5>
                            <p><b>Recommended for your Mystery read.</b>
                            </p>
                        </div>
                    </div>
                    {{!-- carousel item #8 --}}
                    <div class="carousel-item">
                        <img class="drinkimg"
                            src="https://149446486.v2.pressablecdn.com/wp-content/uploads/2020/06/Bloody-Mary-with-Candied-Maple-Bacon-Taji%CC%81n_DSCF5582-Edit_2000-800x530.jpg"
                            alt="Bloody Mary">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="carouseldrinktitle">Bloody Mary</h5>
                            <p><b>Recommended with your Mystery read.</b></p>
                        </div>
                    </div>
                    {{!-- carousel item #9 --}}
                    <div class="carousel-item">
                        <img class="drinkimg"
                            src="https://images.pexels.com/photos/3309793/pexels-photo-3309793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="Egg Nog">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="carouseldrinktitle">Egg Nog</h5>
                            <p><b>Recommended with your Horror read.</b></p>
                        </div>
                    </div>
                    {{!-- carousel item #10 --}}
                    <div class="carousel-item">
                        <img class="drinkimg" src="https://byfood.b-cdn.net/api/public/assets/14628/matcha-bowl"
                            alt="Matcha">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="carouseldrinktitle">Matcha</h5>
                            <p><b>Recommended with your Business read.</b></p>
                        </div>
                    </div>
                    {{!-- carousel item #11 --}}
                    <div class="carousel-item">
                        <img class="drinkimg"
                            src="https://images.pexels.com/photos/13645409/pexels-photo-13645409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="IPA">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="carouseldrinktitle">IPA</h5>
                            <p><b>Recommended with your Business read.</b></p>
                        </div>
                    </div>
                    {{!-- carousel item #12 --}}
                    <div class="carousel-item">
                        <img class="drinkimg"
                            src="https://images.pexels.com/photos/7470497/pexels-photo-7470497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="Pumpkin Spice Latte">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="carouseldrinktitle">Pumpkin Spice Latte</h5>
                            <p><b>Recommended with your Mystery read.</b></p>
                        </div>
                    </div>

                    {{!-- previous slide arrow --}}
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    {{!-- next slide arrow --}}
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>

    </section>

    {{!-- script for bootstrap carousel --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>