<div>
    <h2 id={{book.id}}>Title:</h2>
    <input id ="book-title" value={{book.book_title}}>
    <h2>Description:</h2>
    <textarea id="book-description">{{book.description}}</textarea>
    <button id = "edit-btn">EDIT</button>
</div>


<script src="/js/edit.js"></script>