{{!-- Search for a book --}}
<div>

  <img class="heroimg"
    src="https://images.pexels.com/photos/7470111/pexels-photo-7470111.jpeg?cs=srgb&dl=pexels-beyza-7470111.jpg&fm=jpg&_gl=1*1e5268e*_ga*ODY5NDU4MDMxLjE2NjgzNjU0MTY.*_ga_8JE65Q40S6*MTY2ODM3MjE3Ny4yLjAuMTY2ODM3MjE3Ny4wLjAuMA..">

  <h2 class="subtitle">
    <a href="/">Find the perfect pairing for your current read!</a>
  </h2>
  <p class="subtitle-p">Custom book and drink recommendations
    <br>to bring you the ultimate reading experience!
  </p>

  <div class="inputplacement">
    <input class="getbooksinput" id="input" placeholder="Search for a title...">
    <button class="getbooks" id="searchBtn">Get Books</button>
    <div id="output"></div>
  </div>
</div>


<script src="/js/index.js"></script>