<head>
  <title>Novel Sips | Home</title>
  {{!-- font awesome stylesheet --}}
  <script src="https://kit.fontawesome.com/6219d53626.js" crossorigin="anonymous"></script>
</head>


<div class="homepgcontainer">
  {{!-- hero img --}}
  <img class="heroimghomepg"
    src="https://images.pexels.com/photos/7470111/pexels-photo-7470111.jpeg?cs=srgb&dl=pexels-beyza-7470111.jpg&fm=jpg&_gl=1*1e5268e*_ga*ODY5NDU4MDMxLjE2NjgzNjU0MTY.*_ga_8JE65Q40S6*MTY2ODM3MjE3Ny4yLjAuMTY2ODM3MjE3Ny4wLjAuMA..">

  {{!-- subtitle and paragraph --}}
  <h2 class="subtitle">
    Find the perfect pairing for your current read!
  </h2>
  <p class="subtitle-p">Custom book and drink recommendations
    <br>to bring you the ultimate reading experience!
  </p>

  <section class="intro-subtitle">
    <p>
    <p class="introstatementtop">Are you ready for an<br>
      adventurous reading journey?
      <i class="fa-solid fa-book-open-reader"></i>


    </p>
    <br>
    <p class="introbasic">
      With our application you can search our database of books
      for a title you want to read.<br>
      Then, click the "<i>generate drink</i>" button on your chosen book
      to be matched with a drink recommendation.</p>
    <br>
    <p class="introstatements">Take the challenge !</p>
    Start a new book, try a new drink,<br>
    and live in the moment!<br>
    <br>
    <p class="introstatements">Be daring !</p>
    Whether you matched with a Café con Leche <i class="fa-solid fa-mug-hot"></i><br>
    or a Dirty Martini <i class="fa-solid fa-martini-glass"></i><br>
    <br>
    <i>You know the saying...</i><br>
    <p class="introstatements">it's 5 o'clock somewhere !</p>
    </p>

    {{!-- log in and sign up button --}}
    <div class="loginsignupbutton" align="center">
      <button class="login"><a href="/login">Log In</a></button>
      <button class="signup"><a href="/signup">Sign Up</a></button>
    </div>
  </section>
  {{!-- get books search input and button --}}
  {{!-- <div class="inputplacement" align="center">
    <input class="getbooksinput" id="input" placeholder="Enter a book title...">
    <button class="getbooks" id="searchBtn">Search</button> --}}

    {{!-- create a container for books output --}}
    {{!-- create cards for each individual book --}}
    {{!-- <div class="output" id="output">
      <card class="booksoutput"></card>
    </div> --}}

  </div>

</div>

<script src="/js/index.js"></script>




