<!-- Loop over each object in the projects array -->
 <div>
{{#each projects as |project| }}
   <input id="input">
    <button onclick = "getbooks()">Get Books</button><br>
   <div id="output"></div>
  <script src="/public/js/index.js"></script>
</div>
{{/each}}
