{{!-- PROFLIE PAGE --}}

{{!-- Welcome message --}}
<div>

  <h1>Welcome to you own personal Bookshelf!</h1>
  
  </div>

{{!-- List of favorite books --}}
<section>

  <h2>Favorite Books: </h2>
    <ul>
      <li>Here should the books appear </li>
      <li>book 2</li>
    </ul>
  
  </section>


<script src="/js/profile.js"></script>