

<div class="row">
  <div class="col-auto">
   <h1>Welcome to your Book Shelf!</h1>
  </div>
</div>

  {{!-- get books search input and button --}}
  <div class="inputplacement" align="center">
    <input class="getbooksinput" id="input" placeholder="Search for a title...">
    <button class="getbooks" id="searchBtn">Get Books</button>

    {{!-- create a container for books output --}}
    {{!-- create cards for each individual book --}}
    <card class="booksoutput">
      <div class="output" id="output"></div>
    </card>

  </div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Favorite Books and Drinks</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="post-name">Title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">Drink:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if loggedIn}}
  <section class="flex-row justify-center">
   <p>{{drinks.subject}}</p>
  </section>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}

 


<script src="/js/profile.js"></script>
<script src = "/js/index.js"></script>
<script src = "/js/login.js"></script>


