* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #a2704f;
  font-family: 'Dancing Script';
}

/* novel sips title in nav bar */
.pgtitle {
  padding-left: 10px;
  font-size: 38px;
  color: #d1bea3;
  text-decoration: none;
}

/* hover effect for novel sips title in nav bar */
.pgtitle:hover {
  color: #dfdad2;
  text-decoration: none;
}

/* positioning for novel sips title in nav bar */
.headertitle {
  padding-top: 8px;
}

header {
  background-color: #5f351b;
  color: #d1bea3;
  padding-bottom: 16px;
  border-bottom: solid 3px #d1bea3;
  position: fixed;
  width: 100%;
}

footer {
  background-color: #5f351b;
  color: #d1bea3;
  border-top: solid 1px #d1bea3;
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
}

.footerp {
  color: #d1bea3;
  text-align: center;
  font-family: dancing script;
  font-size: 20px;
  padding-top: 3px;
}

/* positioning for nav bar links */
.navbarlinks {
  margin-top: -36px;
}

/* styling for nav bar links */
li {
  list-style: none;
  font-size: 25px;
  text-decoration: none;
  color: #d1bea3;
  display: inline;
  padding-right: 15px;
}

li a {
  text-decoration: none;
  color: #d1bea3;
}

li a:hover {
  color: #dfdad2;
}

/* styling for each pg title */
.subtitle,
.logintitle,
.signuptitle,
.profilepgtitle {
  margin-top: -550px;
  color: #5f351b;
  font-size: 32px;
  width: 50%;
  text-align: center;
}

/* subtitle paragraph on home pg */
.subtitle-p {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 18px;
  color: #d1bea3;
  text-align: center;
}

/* hero img on main pg and other pgs */
.heroimg {
  height: 660px;
  width: 50%;
  margin-left: 50%;
}

/* log in + sign up button placement on nav bar when signed out */
/* bookshelf + logout button placement on navbar when signed in */
.loginsignupbutton,
.bookshelf-logoutbtn {
  margin-top: -35px;
  margin-left: 88.5%;
}

/* button styling */
.login,
.signup,
.bookshelf,
.getbooks,
.loginbtn,
.signupbtn,
.submitbtn,
.favoritebtn,
#logout {
  background-color: rgb(222, 94, 47);
  color: #dfdad2;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px 10px;
  padding: 7px 7px;
  border: 1px solid #dfdad2;
}

/* button styling link */
.login a,
.signup a,
.bookshelf a,
#logout a {
  color: #dfdad2;
  text-decoration: none;
}

/* button styling hover */
.login a:hover,
.signup a:hover,
.bookshelf a:hover,
.getbooks:hover,
.loginbtn:hover,
.signupbtn:hover,
#logout a:hover {
  cursor: pointer;
  color: #dfdad2;
  text-decoration: none;
  font-weight: bold;
}

/* input styling for get books search */
.getbooksinput {
  width: 250px;
  padding: 7px 7px;
  border-radius: 5px;
  border: none;
}

/* input placement for get books search */
.inputplacement {
  padding-top: 18px;
  width: 50%;
}

/* output of books results from search */
.output {
  padding-top: 18px;
  font-size: 20px;
  text-align: center;
  color: #d1bea3;
  width: 50%;
}

/* create a container for books output */
/* create cards for each individual book */
/* where the book search results show */
.booksoutput {
  height: 300px;
}

/* email & password login pg form */
.form-login-form,
.form-signup-form {
  padding-top: 10px;
}

/* input form group on login pg */
.form-group {
  padding-top: 8px;
  width: 50%;
}

/* label for email and password on login pg */
.emailtitle,
.passwordtitle,
.usernametitle,
.nametitle {
  font-size: 18px;
  color: #d1bea3;
  font-family: Arial, Helvetica, sans-serif;
}

.pwinstructions,
.emailinstructions {
  font-family: Arial, Helvetica, sans-serif;
  color: #d1bea3;
  font-size: 12px;
  text-align: center;
  width: 50%;
  font-style: italic;
}

/* input styling for email and pw on login pg */
.form-input {
  padding: 5px 5px;
  border-radius: 5px;
  width: 250px;
  border: none;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

/* beginning of styling for about us and contact us pg */

/* hero img on about pg img size and placement */
.aboutheroimg {
  margin-top: 61.5px;
  width: 35%;
  height: 100%;
  position: fixed;
  margin-left: 65%;
}

.aboutuscontainer {
  width: 65%;
  padding-bottom: 40px;
}

/* title at the top of the about us pg */
.aboutpgtitle,
.contactustitle {
  padding-top: 32px;
  color: #5f351b;
  font-size: 36px;
  text-align: center;
}

.aboutpgtitle {
  padding-top: 80px;
}

/* subtitle section styling */
.aboutussection {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 16px;
  color: #d1bea3;
  font-size: 18px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

/* title styling for our names */
.nametitle {
  padding-top: 40px;
  color: #5f351b;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

/* profile pics in our about us section */
.profilepic {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 60px 60px;
  height: 120px;
  width: 120px;
}

/* paragraph with out about info */
.aboutinfo {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding: 15px 15px;
  color: #dfdad2;
  font-size: 16px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #5f351b;
  padding-bottom: 20px;
  border: 2px solid #d1bea3;
}

/* links to contact us in our about us section */
.contactlinks {
  text-decoration: none;
  color: #d1bea3;
  font-family: dancing script;
  font-size: 20px;
}

.contactlinks:hover {
  color: #dfdad2;
}

.contactuscontainer {
  margin-top: -600px;
  width: 50%;
}

/* input form group on contact us pg */
.contactform {
  padding-top: 8px;
  width: 100%;
}

/* title for user name and phone */
.nameinputtitle,
.phonetitle {
  font-size: 18px;
  color: #d1bea3;
  font-family: Arial, Helvetica, sans-serif;
}

/* user input field */
.user-input {
  width: 400px;
  height: 200px;
  text-align: center;
  border-radius: 5px;
  border: none;
}

/* beginning of css styling for profile pg */

/* section title "fave books and drinks" */
.favesectiontitle {
  color: #d1bea3;
  font-size: 26px;
  width: 50%;
  text-align: center;
  padding-top: 20px;
}

/* title label for fave books and drinks */
.favebookname,
.favedrinkname {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #dfdad2;
  padding-bottom: 10px;
}

.faveinputtitle {
  padding-bottom: 10px;
}

/* beginning of drinks page styling */

/* container on the left with title and search */
.drinksearchcontainer {
  width: 40%;
}


.drinkstitle {
  padding-top: 70px;
  font-family: dancing script;
  color: #5f351b;
  font-size: 36px;
  width: 60%;
  text-align: right;
}

/* container that contains carousel */
.drinkscontainer {
  padding-top: -10px;
  background-color: #a2704f;
}

/* container with the carousel */
.carouselcontainer {
  width: 60%;
  margin-left: 38%;
  /* margin-right: 20%; */
  padding-bottom: 40px;
}

/* carousel img */
.drinkimg {
  height: 400px;
  width: 100%;
}

/* drink title in carousel */
.carouseldrinktitle {
  font-family: dancing script;
  font-size: 26px;
}

/* caption under carousel img */
.carousel-caption {
  font-size: 12px;
  font-family: arial;
  margin-left: -20%;
  margin-right: -20%;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
}

.sr-only {
  color: black;
}