* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #a2704f;
  font-family: 'Dancing Script';
}

.pgtitle {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 38px;
}

header {
  background-color: #5f351b;
  color: #d1bea3;
  padding-bottom: 16px;
  border-bottom: solid 3px #d1bea3;
}

.subtitle {
  margin-top: -600px;
  font-size: 32px;
  width: 50%;
  text-align: center;
}

.subtitle a {
  color: #d1bea3;
  text-decoration: none;
}

.subtitle a:hover {
  color: rgb(222, 94, 47);
}

.subtitle-p {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 10px;
  color: #dfdad2;
  text-align: center;
}

.heroimg {
  height: 620px;
  width: 50%;
  object-fit: fit;
  margin-left: 50%;
  /* border-left: 1px solid #d1bea3; */
  /* border-bottom: 1px solid #d1bea3; */
}

/* log in button placement */
.loginbutton {
  margin-top: -35px;
  margin-left: 85%;
}

/* sign up button placement */

.signupbutton {
  margin-top: -30px;
  margin-left: 90%;
}

/* bookshelf button placement */
.bookshelf {
  margin-top: -30px;
  /* margin right placement needs to be checked once page is functional  */
  margin-right: 30px;
}

/* log out button placement */
#logout {
  margin-top: -30px;
  /* margin right placement needs to be checked once page is functional  */
  margin-right: 20px;
}

/* button styling */
.login,
.signup,
.bookshelf,
.getbooks,
#logout {
  background-color: rgb(222, 94, 47);
  color: #dfdad2;
  font-size: 14px;
  border-radius: 10px 10px;
  padding: 7px 7px;
  border: 1px solid #dfdad2;
}

/* button styling link */
.login a,
.signup a,
.bookshelf a,
#logout a {
  color: #dfdad2;
  text-decoration: none;
}

/* button styling hover */
.login a:hover,
.signup a:hover,
.bookshelf a:hover,
.getbooks:hover,
#logout a:hover {
  cursor: pointer;
  color: #dfdad2;
  text-decoration: none;
  font-weight: bold;
}

/* input styling */
.getbooksinput {
  width: 250px;
  padding: 7px 7px;
  border-radius: 5px;
  border: none;
}

/* input placement */
.inputplacement {
  padding-top: 10px;
  margin-left: 10%;
  width: 50%;
  /* padding-bottom: 20px; */
}

/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */